<!doctype html>
<html>
   <body>
   
      <table border = 1>
         <form action="/submit_get" method="get">
         <thead>
            <td>delete</td>
            <td>Name</td>
            <td>Address</td>
            <td>city</td>
            <td>pk</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <!--<td> <button type="submit" form="form1" name="delete" value="{{ row['pk']}}">Submit</button> </td> -->
               <td><input type="checkbox" id="cock" name="chbox" value=pk>{{ row["pk"]}}</td>
               <td>{{row["name"]}}</td>
               <td>{{row["addr"]}}</td> 
               <td>{{ row["city"]}}</td>
               <td>{{ row["pk"]}}</td>  
            </tr>
            
         {% endfor %}
         
      </table>

        <input type="submit" value="Submit">
    </form>
      
   </body>
</html>
