<!DOCTYPE html>
<html lang="en">

    <style>
        body {background-color: rgb(83, 83, 83);}
        h2   {color: rgb(0, 0, 0);}
        h1   {color: rgb(20, 17, 57);font-family:Arial, Helvetica, sans-serif;font-size: 175%;}
       
        
    </style>
    
    <img src="WhaleClub.png" alt="Whale CLub" style="width:228px;height:93px;">

    <title>Whale Club Data Farming Page</title>


    <head><h1><b><u>Whale Club Data Farming Page</u></b></h1></head>

    <body>

            <h2>"Like Facebook without the fluff"</h2>
            <p>Insert User</p>

            <form name="mystuff" action="database" method="GET">

                #HW: Pull in Checkbox one, with the request thing.

                <label for="itbox1">Input Text #1:</label><br>
                <input type="text" id="itbox1" name="itbox1"><br>
                <label for="itbox2">Input Text #2:</label><br>
                <input type="text" id="itbox2" name="itbox2"><br>

                <label for="chbox1">IDK Somethin</label><br>
                <input type="checkbox" id="chbox1" name="chbox1" value="White Plains">
                <label for="chbox1">White Plains</label><br>
                <input type="checkbox" id="chbox2" name="chbox2" value="Jail">
                <label for="chbox2">Jail</label><br>
                <input type="checkbox" id="chbox3" name="chbox3" value="Greenwich">
                <label for="chbox3">Greenwich</label><br>        
                <input type="checkbox" id="chbox4" name="chbox4" value="Saracuse">
                <label for="chbox1">Saracuse</label><br>

                <label for="sbutton1">Hit the button clown</label><br><br>
                <input type="submit" value="submit"><br>
            </form>    
        
        </body>

</html>