<!doctype html>
<html>
   <body>
   
      <table border = 1>
         
         <thead>
            <td>delete</td>
            <td>Name</td>
            <td>Address</td>
            <td>city</td>
            <td>pk</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <!--<td> <button type="submit" form="form1" name="delete" value="{{ row['pk']}}">Submit</button> </td> -->
               <td><a href="delete?pk={{ row['pk']}}">delete </a></td>
               <td>{{row["name"]}}</td>
               <td>{{row["addr"]}}</td> 
               <td>{{ row["city"]}}</td>
               <td>{{ row["pk"]}}</td>  
            </tr>
            
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
      
   </body>
</html>
